:root {
  color-scheme: light dark;

  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;

  --font-headline-1: rfs(700 4rem / 1.2 var(--font-display));
  --font-headline-2: rfs(700 2.75rem / 1.2 var(--font-display));
  --font-headline-3: rfs(700 1.25rem / 1.2 var(--font-display));
  --font-headline-4: 700 0.8125rem / 1.6 var(--font-display);
  --font-body-lg: 1.125rem / 1.5 var(--font-sans);
  --font-body: 0.9375rem / 1.5 var(--font-sans);
  --font-body-sm: 0.75rem / 1.5 var(--font-sans);
  --font-body-xs: 0.625rem / 1.5 var(--font-sans);
  --font-button: 700 0.875rem / 1 var(--font-display);
  --font-label: 600 0.75rem / 1.4 var(--font-sans);

  --space-xs: 0.1875rem;
  --space-sm: calc(2 * var(--space-xs));
  --space-md: calc(2 * var(--space-sm));
  --space-lg: calc(2 * var(--space-md));
  --space-xl: calc(2 * var(--space-lg));
  --space-2xl: calc(2 * var(--space-xl));
  --space-3xl: calc(2 * var(--space-2xl));

  --shadow: 0 0 8px rgba(0, 0, 0, 0.15);

  --rounded: 7px;
  --rounded-sm: 2px;

  --ease-out: var(--duration, 0.125s) easeOutCubic;
}

@media (prefers-color-scheme: light) {
  :root {
    --cs-background: 240 240 240;
    --cs-on-background: 30 30 40;
    --cs-focus-outline: 129 140 248;
    --cs-panel: 0 0 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --cs-background: 30 30 40;
    --cs-on-background: 240 240 240;
    --cs-focus-outline: 99 102 241;
    --cs-panel: 255 255 255;
  }
}

* {
  /* Background colors */
  --color-background: rgb(var(--cs-background));

  /* Text colors */
  --color-on-background: rgb(var(--cs-on-background));
  --color-on-background-muted: rgb(var(--cs-on-background) / 60%);
  --color-on-background-subtle: rgb(var(--cs-on-background) / 20%);

  /* Panel colors */
  --color-panel-half: rgb(var(--cs-panel) / 2.5%);
  --color-panel: rgb(var(--cs-panel) / 5%);
  --color-panel-double: rgb(var(--cs-panel) / 10%);
  --color-panel-triple: rgb(var(--cs-panel) / 15%);

  /* Misc colors */
  --color-focus-outline: rgb(var(--cs-focus-outline) / 40%);
}

:root {
  font: var(--font-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-on-background);
}

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: 3px solid var(--color-focus-outline);
    outline-offset: var(--space-xs);
  }
}

.headline-1 {
  font: var(--font-headline-1);
  margin-bottom: var(--space-lg);
}

.headline-2 {
  font: var(--font-headline-2);
  margin-bottom: var(--space-lg);
}

.headline-3 {
  font: var(--font-headline-3);
  margin-bottom: var(--space-sm);
}

.headline-4 {
  font: var(--font-headline-4);
  margin-bottom: var(--space-sm);
}

a {
  text-decoration: none;
  color: inherit;
}
