.page {
  background: var(--color-panel);
  min-height: calc(100vh - var(--space-2xl));
  margin-top: var(--space-2xl);
  border-radius: var(--rounded) var(--rounded) 0 0;
  margin-left: auto;
  margin-right: auto;
  padding: min(100px, 9.7vw);
  font: var(--font-body);
}
