.themeSelect {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: var(--color-on-background);

  &:global(.theme-dark) {
    & .sun {
      opacity: 0%;
      transform: rotate(-30deg);
    }

    & .moon {
      opacity: 100%;
      transform: rotate(0deg);
    }
  }

  &:global(.theme-light) {
    & .sun {
      opacity: 100%;
      transform: rotate(0deg);
    }

    & .moon {
      opacity: 0%;
      transform: rotate(30deg);
    }
  }
}

.sun,
.moon {
  position: absolute;
  inset: 0;
  transition: all var(--ease-out);
}
