.dashboard {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-2xl);
}

.content {
  padding: var(--space-xl) 0;
  background: var(--color-panel);
  flex: 1;
}
