.storyListItem {
  padding: var(--space-lg);
  border-radius: var(--rounded);
  background: var(--color-panel);
  cursor: pointer;
  transition: background var(--ease-out);

  &:hover {
    background: var(--color-panel-double);
  }
}
