.storyListItem {
  padding: var(--space-lg);
  border-radius: var(--rounded);
  background: var(--color-panel);
  cursor: pointer;
  transition: background var(--ease-out);
  border-left: var(--space-md) solid var(--color-accent);
  display: flex;

  &:hover {
    background: var(--color-panel-double);
  }
}

.content {
  flex: 1;
}
