.textArea {
  display: flex;
  width: 100%;

  & .label {
    font: var(--font-label);
    color: var(--color-on-background-muted);
    transition: margin-bottom var(--ease-out);
  }

  &:focus-within .label {
    color: var(--color-on-background);
    margin-bottom: var(--space-sm);
  }

  & textarea {
    width: 100%;
    min-height: 100%;
    border: none;
    padding: var(--space-md);
    font: var(--font-body);
    background: var(--color-panel-double);
    border-radius: var(--rounded);
    resize: vertical;

    &.autoresize {
      resize: none;
      overflow: hidden;
    }
  }
}
