.textArea {
  width: 100%;

  & .label {
    display: inline-block;
    font: var(--font-body-xs);
    color: var(--color-on-background-muted);
    transition: margin-bottom var(--ease-out);
  }

  &:focus-within .label {
    color: var(--color-on-background);
    margin-bottom: var(--space-sm);
  }

  & textarea {
    width: 100%;
    border: none;
    padding: var(--space-sm) var(--space-md);
    font: var(--font-body);
    background: var(--color-panel-double);
    border-radius: var(--rounded);
  }
}
